<div class="container" style="padding-top: 50px; padding-bottom: 70px">

    <h6 class="">Search Results for <strong><%= @query %></strong>:</h6>

    <div class="row">
        <%= render @listings %>
    </div>
</div>
