   <div class="activeChatContainer">
      <!-- activechat header -->
      <%= render partial: 'chatroom/active_chat_header', locals: { room: @room } %>
      <div class="chatBoardArea">
      <!-- populate chat messages -->
      <% @room_messages.each do |message| %>
        <% if message.user.id == current_user.id %>
          <%= render partial: 'chatroom/sender_message', locals: { message: message } %>
        <% else %>
          <%= render partial: 'chatroom/receiver_message', locals: { message: message } %>
        <% end %>
      <% end %>
      </div>
      <%= render partial: '/chatroom/input' %>
    </div>