   <div class="activeChatContainer">
      <div class="chatBoardArea">
      <!-- populate chat messages -->
      <% @messages.each do |message| %>
        <%= render partial: 'chatroom/message', locals: { message: message } %>
      <% end %>
      </div>
      <%= render partial: '/chatroom/input' %>
    </div>