   <div class="activeChatContainer">
      <!-- activechat header -->
      <%= render partial: 'chatroom/active_chat_header', locals: { room: @room } %>
      <div class="chatBoardArea">
      <!-- populate chat messages -->
      <% @room_messages.each do |message| %>
        <%= render partial: 'chatroom/message', locals: { message: message } %>
      <% end %>
      </div>
      <%= render partial: '/chatroom/input' %>
    </div>