<nav class="navbar navbar-expand-sm" style="background: #f8f8f8">


  <!-- Links -->
  <ul class="navbar-nav" style="color: red; display: flex; align-items: stretch; justify-content: space-between; width: 100%; margin-left: 100px; margin-right: 100px">
    <li class="nav-item">
      <a style="color: black" class="nav-link" href="#">Fashion</a>
    </li>

    <li class="nav-item">
      <a style="color: black" class="nav-link" href="#">Electronics</a>
    </li>

    <li class="nav-item">
      <a style="color: black" class="nav-link" href="#">Furniture</a>
    </li>

        <li class="nav-item">
      <a style="color: black" class="nav-link" href="#">Games</a>
    </li>

        <li class="nav-item">
      <a style="color: black" class="nav-link" href="#">Hobbies</a>
    </li>

        <li class="nav-item">
      <a style="color: black" class="nav-link" href="#">Automotives</a>
    </li>

        <li class="nav-item">
      <a style="color: black" class="nav-link" href="#">Others</a>
    </li>

  </ul>
</nav>