<nav class="navBarTwo navbar navbar-expand-sm shadow" style="background: #f8f8f8">


  <!-- Links -->
  <ul class="navbar-nav" style="color: red; display: flex; align-items: stretch; justify-content: space-between; width: 100%; margin-left: 100px; margin-right: 100px">
    <li class="nav-item">
      <a style="color: black" class="nav-link hvr-underline-from-center" href="/">All</a>
    </li>
    <li class="nav-item">
      <a style="color: black" class="nav-link hvr-underline-from-center" href="/listings?category_id=1">Fashion</a>
    </li>
    <li class="nav-item">
      <a style="color: black" class="nav-link hvr-underline-from-center" href="/listings?category_id=2">Electronics</a>
    </li>

    <li class="nav-item">
      <a style="color: black" class="nav-link hvr-underline-from-center" href="/listings?category_id=3">Furniture</a>
    </li>

    <li class="nav-item">
      <a style="color: black" class="nav-link hvr-underline-from-center" href="/listings?category_id=4">Games</a>
    </li>

    <li class="nav-item">
      <a style="color: black" class="nav-link hvr-underline-from-center" href="/listings?category_id=5">Hobbies</a>
    </li>

    <li class="nav-item">
      <a style="color: black" class="nav-link hvr-underline-from-center" href="/listings?category_id=6">Automotives</a>
    </li>

    <li class="nav-item">
      <a style="color: black" class="nav-link hvr-underline-from-center" href="/listings?category_id=7">Others</a>
    </li>

  </ul>
</nav>