  <% @listing.comment.reverse_each do | comment | %>
  <div class="cssSingleComment">
    <div class="cssSubheading"><p><%= "#{comment.title}" %></p></div>
    <p><%= "#{comment.body}" %></p>
    <p><%= "Posted by: #{comment.user.username}" %></p>
  </div>
  <% end %>

