        <nav class="navbar navbar-expand-md navbar-dark bg-danger" style="max-height: 60px">
        <a class="navbar-brand" href="/">
            <%= image_tag("logos/logo2.png", width: '45px') %>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Home</a>
            </div>
            <form class="form-inline ml-3" style="max-height: ">
                <input type="text" class="form-control mr-sm-2" placeholder="Search">
                <button type="submit" class="btn btn-outline-light">Search</button>
            </form>
        </div>
        <a style="color:#ec98a0; padding-right: 20px" href="/users/sign_in" class="nav navbar-right">Log In </p></a>
        <a style="color:#ec98a0; padding-right: 10px" href="/users/sign_up" class="nav navbar-right">Sign Up</p></a>
    </nav>