<nav class="navbar navbar-expand-md navbar-dark bg-danger" style="max-height: 60px; min-width: 790px">
<a class="navbar-brand" href="/">
  <%= image_tag("logos/logo2.png", width: '45px') %>
</a>
<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse d-flex justify-content-between" id="navbarCollapse">
  <div class="navbar-nav">
    <a href="/" class="nav-item nav-link active d-none">Home</a>
  </div>
  <form class="form-inline ml-3" style="max-height: ">
    <input type="text" class="form-control mr-sm-2" size="35" placeholder="Search">
    <button type="submit" class="btn btn-outline-light mr-1">Search</button>
  </form>
  <a href="<%= new_listing_path %>" class="btn btn-outline-light">Create Listing</a>
</div>
<p class="nav navbar-text navbar-right ml-3">Hello,</p>
<ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.username %></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">Reports</a>
                <a href="#" class="dropdown-item">Settings</a>
                <div class="dropdown-divider"></div>
                <%= link_to 'Log out', destroy_user_session_url, method: :delete, class: 'dropdown-item' %>
            </div>
        </li>
  </ul>
</nav>