<div class="chatPageContainer">
  <!-- main container -->
  <div class="chatRoomContainer container col-10">
      <!-- left-inbox -->
      <%= render '/chatroom/inbox' %>
      <!-- empty active chat -->
      <div class="emptyChatContainer"></div>
  </div>
</div> 