<div class="chatPageContainer" data-room_id="0">
  <!-- main container -->
  <div class="chatRoomContainer container col-10">
      <!-- left-inbox -->
      <div class="inboxOutsideContainer">
        <%= render '/chatroom/inbox' %>
      </div>      
      <!-- empty active chat -->
      <div class="emptyChatContainer"></div>
  </div>
</div> 