<div class="chatPageContainer">
  <!-- main container -->
  <div class="chatRoomContainer container col-10">
      <!-- left-inbox -->
      <%= render '/chatroom/inbox' %>
      <!-- right-current-active-chat -->
      <%= render '/chatroom/active_chat' %> 
  </div>
</div>  