<div class="chatPageContainer">
  <!-- main container -->
  <div class="chatRoomContainer container col-10">
      <!-- left-inbox -->
      <div class="inboxOutsideContainer">
        <%= render '/chatroom/inbox' %>
      </div>
      <!-- right-current-active-chat -->
      <%= render '/chatroom/active_chat' %> 
  </div>
</div>  