/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import 'bootstrap';
@import 'listings_index';
@import 'listing_show';
@import 'comments';
@import 'devise';
@import 'users';
@import 'navbar';
@import 'rails_bootstrap_forms';
@import 'devise';
@import 'chatroom';
@import 'inbox';
@import 'messages';

// global css

html, body {
  height: 100%;
}

.yieldContainer {
  min-height: 84vh;
}

.disableScroll {
  overflow-y: hidden;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  transform: scale(1.05);
}

.hiddenUrl {
  cursor: pointer;
}

.fadeIn {
  animation: fadeIn 0.5s;
}

// global animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}