.chatPageContainer {
  display: flex;
  height: 92vh;
  background-color: #F4EEE5;
  padding-top: 2rem;
  padding-bottom: 5rem;
  margin-bottom: 3rem;
  overflow-y: hidden;
}

.chatRoomContainer {
  display: flex;
  min-width: 90vw;
  align-items: stretch;
  justify-content: flex-start;
  background: rgba(255,244,244,1);
  background: linear-gradient(28deg, rgba(255,244,244,1) 0%, rgba(226,222,222,1) 100%);
  overflow-y: hidden;
  min-width: 55rem;
  padding: 0;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 8px 0px;
}

// active chat
.activeChatContainer {
  flex-grow: 1;
  // for chid divs
  display: flex;
  flex-flow: column;
  background: rgba(255,244,244,1);
  background: linear-gradient(28deg, rgba(255,244,244,1) 0%, rgba(226,222,222,1) 100%);
  padding: 0.7rem 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.activeChatHeader {
  background-color: white;
  height: 5rem;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  z-index: 1;
}

.personFont {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Courgette', cursive;
}

.chatBoardArea {
  flex-grow: 1;
  overflow-y: scroll;
}

.inputDiv {
  flex-shrink: 0;
}


// active chat inner divs
.activeChatStripe {
  animation: fadeIn 0.5s;
}

#message_body {
  background-color: transparent;
  border: 0 none;
  outline: none;
  border-top: 0.1rem solid lightgrey;
  box-shadow: none;
  border-radius: 0 !important;
  resize: none;
  padding: 1rem 4.7rem 1rem 1rem;
}

#sendBtn {
  position: absolute;
  right: 1rem;
  top: 1.6rem;
  width: 4rem;
  height: 3.5rem;
}

// additonal CSS

.shadow8 {
  box-shadow: 0px 10px 10px rgba(200, 154, 161, 0.3),
              0px 15px 15px rgba(200, 154, 161, 0.2),
              0px 20px 20px rgba(200, 154, 161, 0.1),
              0px 25px 25px rgba(200, 154, 161, 0.05);
}






