.chatPageContainer {
  display: flex;
  height: 92vh;
  background-color: #F4EEE5;
  padding-top: 2rem;
  padding-bottom: 5rem;
  margin-bottom: 3rem;
  overflow-y: hidden;
}

.chatRoomContainer {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  background-color: white;
  overflow-y: hidden;
  padding: 0;
  box-shadow: 0px 0px 6px;
}

// Inbox
.inboxContainer {
  display: flex;
  flex-shrink: 0;
  align-items: stretch;
  flex-flow: column wrap;
  background-color: #66545e;
  padding: 0.5rem;
}

// active chat
.activeChatContainer {
  // for parent div: chatRoomContainer
  flex-grow: 1;
  // for chid divs
  display: flex;
  flex-flow: column;
  background: rgb(255,244,244);
  background: linear-gradient(28deg, rgba(255,244,244,1) 0%, rgba(226,222,222,1) 100%);
  padding: 0.3rem;
}

.chatBoardArea {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 0.8rem; 
}

.inputDiv {
  flex-shrink: 0;
}


// active chat inner divs
.activeChatStripe {
}

.userAvatar {
  background-color: teal;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 1.5rem 1rem 1.5rem 0;
}

.timestamp {
  color: grey;
  font-size: 0.7rem;
  text-align: right;
}

#message_body {
  background-color: transparent;
  border: 0 none;
  outline: none;
  border-top: 0.1rem solid lightgrey;
  box-shadow: none;
  border-radius: 0 !important;
  resize: none;
  padding: 1rem 4.7rem 1rem 1rem;
}

#sendBtn {
  position: absolute;
  right: 1rem;
  top: 1.6rem;
  width: 4rem;
  height: 3.5rem;
}
