// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listingCommentContainer {
  min-width: 360px;
  margin: 3rem 0;
}

.commentHeader {
  text-align: center;
  border-bottom: 1px black solid;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.cssSubheading {
  font-weight: bold;
}

.cssCommentBody {
  max-height: 450px;
  overflow: auto;
  margin-top: -1rem;
  margin-bottom: 0.5rem;
}

.commentFooter {
  // border-top: 1px black solid;
  margin-bottom: 1.5rem;
}

.cssSingleComment {
  background-color: white;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.cssNewComment {
  background-color: white;
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  animation: fadeInUp 0.5s;
  // animation: newReply 0.5s;
}


// animations

@keyframes newReply {
  from {background-color: black;}
  to {background-color: white;}
}

