.backgroundContainer {
  background-image: url('backgrounds/blurred.jpg');
  position: relative;
}

.signInBox, .registerBox {
  animation: fadeIn 0.5s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}