// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.showPageContainer {
  padding: 3rem 0;
}

.listingContainer {
  display: flex;
  justify-content: center;
}

.carouselContainer {
  min-width: 360px;
}

.carousel-inner {
  border-radius: 1rem;
  box-shadow: 2px 2px 5px;
}

.listingDetailsContainer {
  min-width: 360px;
}

.listingDescriptionContainer {
  word-wrap: break-word;
}