body {
  user-select: none;
}

.itemList {
  background-color: white;
  min-height: 90vh;
  animation: fadeIn 0.5s;
}

.card-img-top {
}

.categoryIcon {
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  background-color: white;
  box-shadow: 2px 2px 5px;
  border-radius: 0.1rem;
  // border: 1px solid lightgrey;
  padding: 0.2rem;
  opacity: 0.8;
}