.background {
  background-image: url('backgrounds/blurred2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
    white-space: nowrap;
    margin-top: 5px;
    margin-left: -15px;
}

.profile {
    width: 20%;
    height: 55%;
    border-radius: 1000px;
    margin-top: 50px;
    margin-left: 50px;
}